---
title: "epage's talks"
permalink: /{{parent}}/
---
<div>
  <div>
    <div>
      <h2><a href="/talks/2018/06/rust-for-clis">Rust for CLIs</a></h2>
    </div>
    <div>
      <h2><a href="/talks/2018/09/rust-rfc-process">Rust RFC Process</a></h2>
    </div>
    <div>
      <h2><a href="/talks/2019/01/dont-panic">Don't `panic!`</a></h2>
    </div>
  </div>
</div>
