	<nav>
		<ul>
			<li><a href="{{ site.base_url }}/about"><img class="footer-about" src="{{ site.base_url }}/img/me.jpg" alt="Headshot"/></a></li>
			<li>
				<a href="{{ site.base_url }}/rss.xml"><i class="fa fa-rss-square"></i> feed</a>
				<a href="https://github.com/epage"><i class="fa fa-github-square"></i> github</a>
				<a href="https://www.linkedin.com/in/eopage"><i class="fa fa-linkedin-square"></i> linkedin</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="{{ site.base_url }}/license">CC BY-SA 4.0 / MIT</a><br/>
			</li>
		</ul>
	</nav>
