---
title: "epage's dev notebook"
---
<div>
  <div>
    <div>
      <h2><a href="/dev/code-reuse">Code Reuse</a></h2>
    </div>
    <div>
      <h2><a href="/dev/commits">Curating Commit History</a></h2>
    </div>
    <div>
      <h2><a href="/dev/testing">Testing</a></h2>
    </div>
    <div>
      <h2><a href="/dev/monorepos">Monorepos</a></h2>
    </div>
    <div>
      <h2><a href="/dev/to-integrate">To Integrate</a></h2>
    </div>
  </div>
</div>
