---
title: "epage's dev notebook"
---
<div>
  <div>
    <div>
      <h2><a href="/dev/planning">Planning</a></h2>
    </div>
    <div>
      <h2><a href="/dev/code-review">Code Review</a></h2>
    </div>
    <div>
      <h2><a href="/dev/code-reuse">Code Reuse</a></h2>
    </div>
    <div>
      <h2><a href="/dev/commits">Curating Commit History</a></h2>
    </div>
    <div>
      <h2><a href="/dev/testing">Testing</a></h2>
    </div>
    <div>
      <h2><a href="/dev/monorepos">Monorepos</a></h2>
    </div>
    <div>
      <h2><a href="/dev/submit-queue">Submit Queue</a></h2>
    </div>
    <div>
      <h2><a href="/dev/to-integrate">To Integrate</a></h2>
    </div>
    <div>
      <h2><a href="/dev/hid-pid">War story: The HID PID Bug</a></h2>
    </div>
    <div>
      <h2><a href="/dev/recharging">War story: Recharging Engineers</a></h2>
    </div>
    <div>
      <h2><a href="/dev/personal-development">War story: Personal Development</a></h2>
    </div>
    <div>
      <h2><a href="/dev/mvp">War story: MVP</a></h2>
    </div>
  </div>
</div>
