---
title: "epage's dev notebook"
---
<article>
	<h2>Topics</h2>
	<ul>
		<li><a href="/dev/planning">Planning</a></li>
		<li><a href="/dev/code-review">Code Review</a></li>
		<li><a href="/dev/code-reuse">Code Reuse</a></li>
		<li><a href="/dev/commits">Curating Commit History</a></li>
		<li><a href="/dev/testing">Testing</a></li>
		<li><a href="/dev/monorepos">Monorepos</a></li>
		<li><a href="/dev/submit-queue">Submit Queue</a></li>
		<li><a href="/dev/hid-pid">War story: The HID PID Bug</a></li>
		<li><a href="/dev/recharging">War story: Recharging Engineers</a></li>
		<li><a href="/dev/personal-development">War story: Personal Development</a></li>
		<li><a href="/dev/mvp">War story: MVP</a></li>
		<li><a href="/dev/release-early-release-often">War story: Release Early, Release Often</a></li>
	</ul>
	<a href="/dev/to-integrate">To Integrate</a>
</article>
