---
title: "epage"
permalink: /{{parent}}/
---
<article>
	<hgroup>
		<h3><a href="blog">Blog</a></h3>
		<h3>Articles I've written</h3>
	</hgroup>
</article>
<article>
	<hgroup>
		<h3><a href="talks">Talks</a></h3>
		<h3>Presentations I've given</h3>
	</hgroup>
</article>
<article>
	<hgroup>
		<h3><a href="dev">Notebook</a></h3>
		<h3>What I've learned</h3>
	</hgroup>
</article>
