---
title: "epage's talks"
---
<article>
	<nav>
		<ul><li>
			<h2><a href="/talks/2025/03/nav-rfc">Navigating the Rust RFC Process</a></h2>
		</li></ul>
	</nav>
</article>
<article>
	<nav>
		<ul><li>
			<h2><a href="/talks/2023/05/test">Testing My Patience</a></h2>
		</li></ul>
	</nav>
</article>
<article>
	<nav>
		<ul><li>
			<h2><a href="/talks/2018/06/rust-for-clis">Rust for CLIs</a></h2>
		</li></ul>
	</nav>
</article>
<article>
	<nav>
		<ul><li>
			<h2><a href="/talks/2018/09/rust-rfc-process">Rust RFC Process</a></h2>
		</li></ul>
	</nav>
	<p>Intro to how Rust evolves</p>
</article>
<article>
	<nav>
		<ul><li>
			<h2><a href="/talks/2019/01/dont-panic">Don't `panic!`</a></h2>
		</li></ul>
	</nav>
	<p>Intro to Rust error handling</p>
</article>
<article>
	<nav>
		<ul><li>
			<h2><a href="/talks/2019/09/ref">Reference Types</a></h2>
		</li></ul>
	</nav>
	<p>Intro to Rust reference types</p>
</article>
