<footer>
  <a href="http://github.com/epage"><i class="fa fa-github-square"></i></a>
  <a href="https://www.linkedin.com/in/eopage"><i class="fa fa-linkedin-square"></i></a>
  <a href="/rss.xml"><i class="fa fa-rss-square"></i></a>
  <hr>
  <p>
    Copyright 2017 Ed Page
    -
    <a href="/license.html">CC BY-SA 4.0 / MIT</a>
    -
    <a href="https://github.com/cobalt-org/cobalt.rs">Built with Cobalt</a>
  </p>
  <br>
</footer>
