<div class="bar">
  <div style="float:left;">
     Copyright {{year}} Ed Page
  </div>

  <div style="float:right;">
    <a href="/license.html">CC BY-SA 4.0 / MIT</a>
    -
    <a href="https://github.com/cobalt-org/cobalt.rs">Built with Cobalt</a>
    <a href="https://github.com/cobalt-org/cobalt.rs"><img src="https://img.shields.io/badge/Built%20with-Cobalt-rust.svg" alt="Build with Cobalt"/></a>
  </div>
</div>
