<div class="bar">
  <div style="float:left;">
    <a href="/rss.xml"><i class="fa fa-rss-square"></i></a> epage
  </div>

  <div style="float:right;">
    <a href="http://github.com/epage"><i class="fa fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/eopage"><i class="fa fa-linkedin-square"></i></a>
  </div>
</div>
