<!DOCTYPE html>
<html>
	<head>
		{% include "head.liquid" %}
	</head>
	<body>
		<nav class="container-fluid">
			<ul>
				<li><h2>{{ page.title }}</h2></li>
			</ul>
		</nav>
		<main class="container">
			{{ page.content }}
		</main>
		{% include "footer.liquid" %}
	</body>
</html>
