<!DOCTYPE html>
<html>
<head>
   {{ include "_layouts/_head.liquid" }}
</head>
<body>
   <main class="container">
      {{ content }}
   </main>
   {{ include "_layouts/_footer.liquid" }}
</body>
</html>
