<!DOCTYPE html>
<html>
	<head>
		{% include "head.liquid" %}
	</head>
	<body>
		<article>
			<header>
				<nav class="container-fluid">
					<ul>
						<li><h2>{{ page.title }}</h2></li>
					</ul>
					<ul>
						<li>
							<i class="fa fa-calendar"></i> <time pubdate="pubdate">{{ page.published_date | date:"%a&nbsp;%d&nbsp;%b&nbsp;'%y" }}</time>
							{% if page.data.tags %}<br/><i class="fa fa-tags"></i> {{ page.data.tags | join: ", "}}{% endif %}
						</li>
					</ul>
				</nav>
			</header>
			<main class="container">
			{{ page.content }}
			</main>
		</article>
		{% include "footer.liquid" %}
	</body>
</html>
