<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-left">
            <h2>{{ page.title }}</h2>
          </div>
          <div class="navbar-right">
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar"></i> <time pubdate="pubdate">{{ page.published_date | date:"%a&nbsp;%d&nbsp;%b&nbsp;'%y" }}</time></li>
              {% if page.data.tags %}<li><i class="fa fa-tags"></i> {{ page.data.tags | join: ", "}}</li>{% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <article>
        {{ page.content }}
      </article>
    </main>
    {% include "footer.liquid" %}
  </body>
</html>
